@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply w-full p-2 border rounded mb-2;
}
.btn {
  @apply w-full py-3 px-4 bg-blue-600 text-white rounded font-bold shadow hover:bg-blue-700 transition;
}
